<div class="py-6">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900">Reports</h1>
    </div>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <div class="py-4">
            <div class="h-96 rounded-lg">
                Sample route that is wired to demonstrate how guards are wired, and how this route can respond with a terminative template.
            </div>
        </div>
    </div>
</div>